{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<h1 class="mb-1">Order Management</h1>
<p class="text-bold mb-4">Dashboard</p>

<div class="row g-3 mb-4">
    <div class="col-3">
        <div class="p-3 bg-light rounded">
            <div class="text-muted small">Orders</div>
            <div class="fs-3 fw-500">{{ order_count }}</div>
        </div>
    </div>
    <div class="col-3">
        <div class="p-3 bg-light rounded">
            <div class="text-muted small">Articles</div>
            <div class="fs-3 fw-500">{{ article_count }}</div>
        </div>
    </div>
    <div class="col-3">
        <div class="p-3 bg-light rounded">
            <div class="text-muted small">Clients</div>
            <div class="fs-3 fw-500">{{ client_count }}</div>
        </div>
    </div>
    <div class="col-3">
        <div class="p-3 bg-light rounded">
            <div class="text-muted small">Categories</div>
            <div class="fs-3 fw-500">{{ category_count }}</div>
        </div>
    </div>
</div>

<h6 class="text-uppercase text-muted mb-3">Quick actions</h6>
<div class="row g-3">
    <div class="col-3">
        <a href="#" class="text-decoration-none">
            <div class="p-3 border rounded">New order</div>
            <div
                class="alert alert-primary"
                role="alert"
            >
                <strong>In developpement</strong>
            </div>
        </a>
    </div>
    <div class="col-3">
        <a href="#" class="text-decoration-none">
            <div class="p-3 border rounded">New article</div>
            <div
                class="alert alert-primary"
                role="alert"
            >
                <strong>In developpement</strong>
            </div>
        </a>
    </div>
    <div class="col-3">
        <a href="#" class="text-decoration-none">
            <div class="p-3 border rounded">New client</div>
            <div
                class="alert alert-primary"
                role="alert"
            >
                <strong>In developpement</strong>
            </div>
        </a>
    </div>
    <div class="col-3">
        <a href="{{ url_for('categories.create') }}" class="text-decoration-none">
            <div class="p-3 border rounded">New category</div>
        </a>
    </div>
</div>
{% endblock %}