{% extends "base.html" %}
{% block title %}Edit {{ article.name }}{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="mb-0">Edit {{ article.name }}</h1>
    <a href="{{ url_for('articles.show', article_id=article.id) }}" class="btn btn-outline-secondary">Back</a>
</div>

<div class="card">
    <div class="card-body">
        <form action="{{ url_for('articles.update', article_id=article.id) }}" method="POST">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" name="name" class="form-control" value="{{ article.name }}" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Price</label>
                <input type="number" name="price" value="{{ article.price }}" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Stock quantity</label>
                <input type="number" name="stock_quantity" value="{{ article.sotck_quantity }}" required>
            </div>
            <div class="mb-3">
                <label for="categories_select" class="form-label">Categories<br>(Select one or many)</label>

                <select
                    multiple
                    class="form-select form-select-lg"
                    name="categories_id"
                    id="categories_select"
                >
                    
                    {%for category in categories%}
                    <option value="{{category.id}}">{{category.name}}</option>
                    {%endfor%}

                </select>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
{% endblock %}